
footer {
    color: white;



    a, span {
        color: $grayColor;

        @include onHover(){
            color: white;
        }
    }

    h4 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            font-weight: 100;
            font-size: 16px;
        }
    }

    .social-links{
        ul {
            list-style: none;

            li{
                display: inline-block;
                margin-left: 20px;

                a{
                    color: white;
                    font-size: 25px;

                    @include onHover(){
                        text-decoration: none;
                    }
                    i {
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include onHover(){
                            border-radius: 50%;
                        }
                        &.fa-facebook{
                            @include onHover(){
                                background-color: #4267B2;
                            }
                        }

                        &.fa-twitter{
                            @include onHover(){
                                background-color: #1DA1F2;
                            }
                        }
                        &.fa-instagram{
                            @include onHover(){
                                background-color: #C13584;
                            }
                        }
                    }


                }
            }
        }
    }
}