
@mixin onHover(){
    &:hover, &:focus, &:active{
        @content;
    }
}

@mixin pad-y($value){
    padding: {
        bottom: $value;
        top: $value;
    }
}

@mixin pad-x($value){
    padding: {
        left: $value;
        right: $value;
    }
}

@mixin btn-initial($color){
    background-color: $color;
    border-color: $color;
    box-shadow: 0px 3px 1px rgba($color, 0.6);
    @include onHover(){
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
    }
}

$tablet-width: 768px;
$desktop-width: 1024px;
$tv-width: #{1024px*4};

@mixin phone {
    @media (max-width: $tablet-width){
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: #{$desktop-width - 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) and (max-width: #{$tv-width - 1}) {
        @content;    
    }
}

@mixin tv {
    @media (min-width: $tv-width) {
        @content;    
    }
}