$darkColor: #1a1f26;
$primaryColor: #058fd5;
$successColor: #83c129;
$grayColor: #8e959c;

@import './mixins.scss';

@import './ui-elements.scss';

@import './navbar.scss';
@import './posts.scss';

@import './footer.scss';