.banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
  padding-top: 5rem;
  color: white;
}
@media (min-width: 1024px) and (max-width: 4096px-1) {
  .banner {
    color: #1a1f26;
  }
}
.banner-title {
  font-weight: 700;
}
@media (min-width: 1024px) and (max-width: 4096px-1) {
  .banner-content {
    padding-left: 17rem;
    padding-right: 17rem;
  }
}
.banner .blur {
  background-image: url("../img/son-kol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: -1;
  transform: scale(1.1);
}

.bg-dark {
  background-color: #1a1f26;
}

.btn {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-success {
  background-color: #83c129;
  border-color: #83c129;
  box-shadow: 0px 3px 1px rgba(131, 193, 41, 0.6);
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #669720;
  border-color: #669720;
}
.btn-primary {
  background-color: #058fd5;
  border-color: #058fd5;
  box-shadow: 0px 3px 1px rgba(5, 143, 213, 0.6);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #046ea3;
  border-color: #046ea3;
}

a {
  color: #1a1f26;
}
a:hover, a:focus, a:active {
  color: #8e959c;
  text-decoration: none;
}

.nav-scroller .nav {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.form-control {
  border-radius: 0;
}
.form-control:active, .form-control:focus {
  box-shadow: none;
}

.navbar .nav-item {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #2b313b;
}
.navbar .nav-item:first-child {
  border-left: 1px solid #2b313b;
}
.navbar .nav-item:hover, .navbar .nav-item:focus, .navbar .nav-item:active {
  background-color: #11141a;
}
.navbar .nav-link {
  color: white !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.posts .card .card-decoration {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 10px;
  position: absolute;
  bottom: -4px;
  left: 1%;
  width: 98%;
  background-color: white;
  z-index: -1;
}
.posts .card .card-decoration:last-child {
  bottom: -7px;
  width: 96%;
  left: 2%;
  z-index: -2;
}

footer {
  color: white;
}
footer a, footer span {
  color: #8e959c;
}
footer a:hover, footer a:focus, footer a:active, footer span:hover, footer span:focus, footer span:active {
  color: white;
}
footer h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  font-weight: 100;
  font-size: 16px;
}
footer .social-links ul {
  list-style: none;
}
footer .social-links ul li {
  display: inline-block;
  margin-left: 20px;
}
footer .social-links ul li a {
  color: white;
  font-size: 25px;
}
footer .social-links ul li a:hover, footer .social-links ul li a:focus, footer .social-links ul li a:active {
  text-decoration: none;
}
footer .social-links ul li a i {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-links ul li a i:hover, footer .social-links ul li a i:focus, footer .social-links ul li a i:active {
  border-radius: 50%;
}
footer .social-links ul li a i.fa-facebook:hover, footer .social-links ul li a i.fa-facebook:focus, footer .social-links ul li a i.fa-facebook:active {
  background-color: #4267B2;
}
footer .social-links ul li a i.fa-twitter:hover, footer .social-links ul li a i.fa-twitter:focus, footer .social-links ul li a i.fa-twitter:active {
  background-color: #1DA1F2;
}
footer .social-links ul li a i.fa-instagram:hover, footer .social-links ul li a i.fa-instagram:focus, footer .social-links ul li a i.fa-instagram:active {
  background-color: #C13584;
}

/*# sourceMappingURL=styles.css.map */
